<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
    <link rel="stylesheet" href="/CSS/Reset.css" />
    <link rel="stylesheet" href="/CSS/card.css" />
  </head>
  <body>
    <div class="oll">
      <a href="/index.html" class="back">Назад</a>
      <div>
        <h1 class="title">Студенти Гоґвортсу</h1>
      </div>

      <div class="card" id="card-study"></div>
    </div>
    <script src="../characters.js"></script>
    <script src="./students.js"></script>
  </body>
</html>
